world {
    width: 800;
    height: 800;
    body: cube.white_house;
}

cube.white_house {
	wall: wall.grey-brick;
    roof: wall.top;
    width: 350;
    depth: 350;
    height: 150;
}

wall.grey-brick {
    texture: tex.grey-brick;
}

wall.top {
  	texture: tex.wood;
}

tex.wood {
    texture: "textures/wood.png";
}

tex.grey-brick {
 	texture:  "textures/grey-brick.png";
}
