wall.ancient {
    texture: tex.clay;
    roof: roof.ancient;
    bottom: floor.only_door;
    middle: floor.without_doors;
    top: floor.wood;
}

floor.only_door {
    height: 24;
    left: tex.empty | tex.door;
}

floor.without_doors {
    height: 24;
    left: tex.empty;
    right: tex.empty;
}

floor.wood {
    height: 24;
    middle: tex.wood;
}

tex.empty {
    width: 24;
}

tex.door {
    width: 24;
}

tex.wood {
    width: 24;
}

