world {
    width: 800;
    height: 800;
    body: cubes;
}

cubes {
    display: y-series;
    body: cube.left, cube.right, cube.middle, cube.justify;
    padding: 150;
}

cube.left    v-tex.windows { align: start; }
cube.right   v-tex.windows { align: end; }
cube.middle  v-tex.windows { align: center; }
cube.justify v-tex.windows { align: justify; }

cube {
    width: 450;
    depth: 50;
    height: 50;
	wall: wall.grey-brick;
    roof: wall.top;
}

wall.grey-brick { texture: h-tex.grey-brick; }

h-tex.grey-brick {
    background: tex.grey-brick;
    center: v-tex.windows;
    align: end;
    padding: 4;
}

v-tex.windows {
    center: tex.window;
    padding: 140;
}

wall.top { texture: tex.wood; }

tex.wood        { texture: "textures/nature-wall/wood.png"; }
tex.grey-brick  { texture: "textures/wall/grey-brick.png";  }
tex.window      { texture: "textures/wall-objs/window.png"; }
