world {
    width: 800;
    height: 800;
    body: cube.example;
}

cube.example {
	wall: wall.grey-brick;
    roof: wall.top;
    width: 350;
    depth: 350;
    height: 50;
}

wall.grey-brick {
    texture: tex.grey-brick;
    points-texture: tex.disc;
    points-density: 5%;
}

wall.top { 
    texture: tex.wood;
    points-texture: tex.disc;
    points-density: 10%;
}

tex.wood        { texture: "textures/wood.png"; }
tex.grey-brick  { texture: "textures/grey-brick.png"; }
tex.disc        { texture: "textures/disc.png"; }
