world {
    width: 800;
    height: 800;
    body: objs;
}

/* TEXTURES */

wall.leafs { points-texture: tex.leaf;  points-density: 50%; }
wall.grass { points-texture: tex.grass; points-density: 15%; }
wall.wood  { texture: tex.wood; }

tex.leaf  { texture: "textures/sprites/leaf.png"; }
tex.grass { texture: "textures/sprites/grass.png"; }
tex.wood  { texture: "textures/nature-wall/wood.png"; }

/* OBJS */

objs {
    display: x-series;
    body: forest, cube.example;
    padding: 50;
}


/* TREES */

forest {
    display: z-filler;
    body: tree;
    depth: 500;
    width: 100;
    padding: 10;
    justify: center;
}

tree {
    display: y-series;
    width: 100;
    depth: 100;
    justify: center;
    body: trunk, leafs;
}

tree > trunk {
 	display: cylinder;
    wall: wall.wood;
    width: 10;
    depth: 10;
    height: random(100, 120);
}

tree > leafs {
    display: dome;
    roof: wall.leafs;
    width: 100%;
    depth: 100%;
    height: 80;
}

/* CUBE */

cube.example {
	wall: wall.wood;
    roof: wall.wood.grass;
    width: 350;
    depth: 350;
    height: 50;
}
