world {
    width: 800;
    height: 800;
    body: cube.example;
}

cube.example {
	wall: wall.wall;
    roof: wall.wall;
    width: 350;
    depth: 350;
    height: 150;
}

wall.wall { texture: tiles; }

tiles { 
    display: tile;
    background: tex.cement;
    body: tex.tiles.green, tex.tiles.yellow, tex.tiles.blue;
    padding: 4;
    repeat: 2;

    & > tex.tiles      { 
        width: 12; 
        height: 12; 
        bevel: 255; 
        bump-noise: 10%;
        bump-noise-level: 128; 

        &.green  { color: rgb(4, 97, 81); }
        &.yellow { color: rgb(199, 157, 21); }
        &.blue   { color: rgb(57, 73, 211); }
    }
}

tex.cement { 
    color: #cecece; 
    bump-noise: 20%; 
    bump-noise-level: 128;
    width: 100;
    height: 100;
}
