world {
    width: 800;
    height: 800;
    body: z-series.example;
}

/* STRUCT */

z-series.example { body: road, x-series.example; }
x-series.example { body: y-series.example, y-series.example; }
y-series.example { body: house.grey.long, house.red, house.grey, house.red.long; }

/* STYLES */

z-series.example {
    width: 450;
    depth: 450;
}

x-series.example {
    width: 100%;
    align: stretch;
}

y-series.example {
    depth: 50;
    padding: 50;
}

road {
    display: cube;
	wall: wall.grey-brick;
    roof: wall.grey-brick;
    width: 100%;
    depth: 100%;
    height: 5;
}

house {
    display: cube;
    roof: wall.wood;
    width: 80;
    depth: 80;
    height: 150;
}

house.grey { wall: wall.grey-brick.windows; }
house.red { wall: wall.red-brick.windows; }
house.long { height: 200; }

wall.grey-brick { texture: tex.grey-brick; }
wall.red-brick { texture: tex.red-brick; }
wall.wood { texture: tex.wood; }

wall.windows {
    middle: floor.windows;
    bottom: floor.windows;
    padding: 4;
}

floor.windows {
    middle: tex.window;
    align: middle;
    height: 12;
    padding: 12;
}

tex.wood        { texture: "textures/nature-wall/wood.png"; }
tex.grey-brick  { texture: "textures/wall/grey-brick.png"; }
tex.red-brick   { texture: "textures/wall/brick.png"; }
tex.window      { texture: "textures/wall-objs/window.png"; }
