world {
    width: 800;
    height: 800;
    body: example;
}

example {
    display: y-series;
    body: road, prison;
    width: 500;
    depth: 600;
}

/* STRUCT */

prison {
    display: square-fence;
    edge-size: 40;
    body: body;
    body-justify: center;
    edge: edge;
    edge-justify: start;
    corner: corner;
    width: 100%;
    depth: 100%;
}

/* STYLES */

edge {
    display: cube;
    wall: wall.red-brick;
    roof: wall.red-brick;
    width: 100%;
    depth: 20%;
    height: 50;
}

corner {
    display: cube;
    wall: wall.grey-brick.windows;
    roof: wall.grey-brick;
    width: 100%;
    depth: 100%;
    height: 100;
}

body {
    display: cube;
    wall: wall.red-brick.windows;
    roof: wall.wood;
    width: 50%;
    depth: 50%;
    height: 80;
}

road {
  display: cube;
  width: 100%;
  depth: 100%;
  roof: wall.sand;
}

wall.grey-brick { texture: tex.grey-brick; }
wall.red-brick { texture: tex.red-brick; }
wall.wood { texture: tex.wood; }
wall.sand { texture: tex.sand; }

wall.windows {
    middle: floor.windows;
    bottom: floor.windows;
    padding: 4;
}

floor.windows {
    middle: tex.window;
    align: middle;
    height: 12;
    padding: 12;
}

tex.sand        { texture: "textures/nature-wall/clay-sand.png"; }
tex.wood        { texture: "textures/nature-wall/wood.png"; }
tex.grey-brick  { texture: "textures/wall/grey-brick.png"; }
tex.red-brick   { texture: "textures/wall/brick.png"; }
tex.window      { texture: "textures/wall-objs/window.png"; }
