world {
    width: 1800;
    height: 800;
    body: z-series.city-and-road;
}

z-series.city-and-road {
    body: cube.road, y-filler.city;
    width: random(800, 1200);
    depth: random(800, 1200);
}

y-filler.city {
    body: z-series.district;
    width: 100%;
    depth: 100%;
    padding: 100;
}

z-series.district {
    body: cube.sidewalk, x-filler.city;
    width: 100%;
    depth: random(100, 300);
}

cube.road {
    roof: wall.road;
    width: 100%;
    depth: 100%;
    height: 0;
}

x-filler.city {
    body: y-filler.row;
    width: 100%;
    depth: 100%;
    padding: 50;
    align: stretch;
}

y-filler.row {
    body: choice(
      house.brick,
      house.clay,
      house.wood,
      house.wood.roman,
      house.clay.roman
    );
    depth: 100%;
    padding: 100;
    align: center;
}

cube.sidewalk {
    roof: wall.grey-brick;
    wall: wall.grey-brick;
    width: 100%;
    depth: 100%;
    height: 5;
}

house roof.triangle { display: triangle; }
house roof.pyramid { display: pyramid; }
house walls { display: cube; }

house {
    display: z-series;
    body: walls, choice(roof.triangle, roof.pyramid);
    width: random(50, 120);
    depth: random(50, 120);
}

house roof, house walls {
    width: 100%;
    depth: 100%;
    height: random(30, 80);  
}

house.brick roof.triangle {
    wall: wall.brick;
    roof: wall.wood;
}

house.brick roof.pyramid {
    wall: wall.wood;
}

house.brick walls {
    wall: wall.brick.with-windows;
}

house.clay roof {
    wall: wall.clay;
    roof: wall.clay;
}

house.clay walls {
    wall: wall.clay.with-windows;
}

house.wood roof {
    wall: wall.wood;
    roof: wall.wood;
}

house.wood walls {
    wall: wall.wood.with-windows;
}

house.roman {
  	display: z-series;
    body: y-series, roof.triangle;
}

house.roman > y-series {
    body: roman-fillars, walls;
    width: 100%;
    depth: 100%;
    height: random(40, 80);
    padding: 20;
}

house.roman > y-series > walls {
    width: 100%;
    depth: 90%;
    height: 100%;
}

house.roman > roof {
    width: 100%;
    depth: 100%;
    height: random(20, 30);  
}

roman-fillars {
    display: x-filler;
    body: roman-fillar;
    width: 100%;
    height: 100%;
    padding: 20;
    align: stretch;
}

roman-fillar {
    display: cube;
    wall: wall.clay;
    width: 5;
    depth: 5;
    height: 100%;
}


wall.grey-brick { texture: tex.grey-brick; }
wall.clay { texture: tex.clay; }
wall.brick { texture: tex.brick; }
wall.top { texture: tex.bar; }
wall.wood { texture: tex.wood; }
wall.road { texture: tex.road; }
wall.with-windows { texture: h-tex.with-windows; }

h-tex.with-windows {
    start: v-tex.door-and-windows;
    center: v-tex.windows;
    end: v-tex.top;
    padding: 4;
    width: 100%;

    wall.grey-brick > & { background: tex.grey-brick; }
    wall.brick > & { background: tex.brick; }
    wall.wood > & { background: tex.wood; }
    wall.clay > & { background: tex.clay; }
}

v-tex.door-and-windows {
    center: choice(null, null, tex.door, tex.window);
    justify: end;
    height: 24;
    padding: 12;
}

v-tex.windows {
    center: choice(null, tex.window);
    justify: end;
    height: 12;
    padding: 12;
}

v-tex.top {
    texture: tex.wood;
    height: 8;
}

tex.bar { texture: "textures/bar.png"; }
tex.brick { texture: "textures/wall/brick.png"; }
tex.clay { texture: "textures/nature-wall/clay.png"; }
tex.door { texture: "textures/wall-objs/door.png"; }
tex.window { texture: "textures/wall-objs/window.png"; }
tex.bottom { texture: "textures/bottom.png"; }
tex.road { texture: "textures/wall/road.png"; }
tex.grey-brick { texture: "textures/wall/grey-brick.png"; }
tex.wood { texture:  "textures/nature-wall/wood.png"; }
