world {
    width: 800;
    height: 800;
    body: mosques-road;
}

mosques-road {
    display: z-series;
    body: road, mosques;
    width: 600;
    depth: 600;
}

road {
    display: cube;
    roof: wall.road;
    width: 100%;
    depth: 100%;
    height: 0;
}

mosques {
    display: x-filler;
    body: mosque-pack;
    width: 100%;
    depth: 80%;
    padding: 30;
    align: stretch;
    justify: center;
}

mosque-pack {
    display: x-series;
    body: tower.building, mosque.building;
    justify: end, end;
}

mosque {
    display: z-series;
    body: cube.base.deco, fence;
    justify: center;
    width: 200;
    depth: 200;
}

mosque > fence {
    display: square-fence;
    width: 100%;
    depth: 100%;
    edge-size: 15;
    body: body;
    body-justify: center;
    edge: fence-wall;
    corner: mini-tower;

    & > body {
        display: z-series;
        width: 80%;
        depth: 80%;
        body: cylinder.windows.full, dome.full, cylinder.windows.small, dome.small;
        justify: center;

        & > dome {
            height: 80;
            &.small { height: 20; }
        }
    }

    & > fence-wall {
        display: cube;
        width: 100%;
        depth: 100%;
        height: 10;
        wall: wall.clay;
        roof: wall.clay;
    }

    & > mini-tower {
        display: z-series;
        body: cube, pyramid;
        width: 100%;
        depth: 100%;
        height: 30;
        wall: wall.clay;
        roof: wall.gold;

        & > cube {
            width: 100%;
            depth: 100%;
            height: 30;
            wall: wall.clay;
        }

        & > pyramid {
            width: 100%;
            depth: 100%;
            height: 30;
            wall: wall.gold;
        }
    }
}

tower {
    display: z-series;
    body: cylinder.base.deco, cylinder.windows.full, dome.full;
    width: 50;
    depth: 50;

    & > dome {
        height: 50;
    }
}

.building {
    cube.base {
        width: 100%;
        depth: 100%;
        height: random(50, 100);
        roof: wall.clay;
        wall: wall.clay;
    }

    cylinder.base {
        width: 100%;
        depth: 100%;
        height: random(200, 300);
        wall: wall.clay;
        sides: 32;
    }

    .deco {
        wall: wall.deco;
    }

    cylinder.windows {
        height: 13;
        wall: wall.clay.with-windows;
        sides: 32;
    }

    dome {
        roof: wall.gold;
        horizontal-sides: 12;
        vertical-sides: 32;
    }

    .full {
        width: 100%;
        depth: 100%;
    }

    .small {
        width: 50;
        depth: 50;
    }
}

wall.gold { texture: tex.gold; }
wall.clay { texture: tex.clay; }
wall.road { texture: tex.road; }
wall.deco { texture: h-tex.deco; }
wall.with-windows { texture: v-tex.with-windows; }

h-tex.deco {
    background: tex.clay;
    end: v-tex.deco;
    start: v-tex.door-and-windows;
    padding: 12;
    align: end;
}

v-tex.with-windows {
    background: tex.clay;
    center: v-tex.windows;
    padding: 4;
    align: middle;
}

v-tex.deco {
    background: tex.deco;
    center: tex.deco;
    width: 100%;
}

v-tex.windows {
    center: tex.window;
    height: 12;
    padding: 12;
}

v-tex.door-and-windows {
    center: choice(null, null, tex.door, tex.window);
    justify: end;
    align: justify;
    padding: 12;
}

tex.clay { texture: "textures/nature-wall/clay-sand.png"; }
tex.deco { texture: "textures/wall-objs/deco.png"; }
tex.road { texture: "textures/nature-wall/clay-sand2.png"; }
tex.gold { texture: "textures/wall/gold.png"; }
tex.door { texture: "textures/wall-objs/door.png"; }
tex.window { texture: "textures/wall-objs/window.png"; }
