world {
    width: 1800;
    height: 800;
    body: village-and-road;
}

village-and-road {
    display: h-series;
    body: road, village;
    width: random(800, 1200);
    depth: random(800, 1200);
    justify: center;
}

village {
    display: bsp-tree;
    body: district;
    justify: center;
    padding: 50;
    width: 100%;
    depth: 100%;
    iterations-count: 4;
    min-width: 200;
    min-height: 200;

    district {
        display: h-series;
        body: sidewalk, city;
        width: 100%;
        depth: 100%;
    }
}

road {
    display: cube;
    roof: wall.road.grass;
    width: 100%;
    depth: 100%;
    height: 0;
}

sidewalk {
    display: cube;
    roof: wall.grey-brick;
    wall: wall.grey-brick;
    width: 100%;
    depth: 100%;
    height: 8;
}

city {
    display: bsp-tree;
    iterations-count: 4;
    justify: center;
    body: choice(
      house.brick,
      house.clay,
      house.wood,
      house.wood.roman,
      house.clay.roman);
    min-width: 50;
    min-height: 50;
    max-width: 150;
    max-height: 150;
    width: 100%;
    depth: 100%;
    padding: 5;
}

house {
    display: h-series;
    body:
        choice(zero-floor, first-floor),
        choice(null, first-floor),
        choice(null, first-floor),
        choice(roof.triangle, roof.pyramid);
    width: 100%;
    depth: 100%;

    roof, first-floor, zero-floor {
        width: 100%;
        depth: 100%;
        height: random(30, 50);
    }

    roof.triangle { display: triangle; }
    roof.pyramid { display: pyramid; }

    first-floor {
        display: cube;
        wall: wall.clay-wood.with-windows;
    }

    zero-floor {
        display: square-fence;
        body: body;
        body-justify: center;
        corner: corner;
        edge-size: 10;

        & > body {
            display: cube;
            wall: wall.grey-brick.with-windows.with-doors;
            width: 95%;
            depth: 95%;
            height: 100%;
        }

        & > corner {
            display: cube;
            wall: wall.wood;
            width: 100%;
            depth: 100%;
            height: 100%;
        }
    }
}

house.brick {
    roof.triangle {
        wall: wall.clay-wood;
        roof: wall.tile.red;
    }

    roof.pyramid {
        wall: wall.tile.red;
        roof: wall.tile.red;
    }

    zero-floor > body {
        wall: wall.brick.with-windows.with-doors;
    }

    first-floor {
     	wall: wall.brick.with-windows;
    }
}

house.clay {
    roof.triangle {
        wall: wall.clay-wood;
        roof: wall.tile.red;
    }

    roof.pyramid {
        wall: wall.tile.red;
        roof: wall.tile.red;
    }

}

house.wood {
    roof {
        wall: wall.wood;
        roof: wall.wood;
    }

    first-floor {
        wall: wall.wood.with-windows;
    }
}

/*market {}*/

fillars {
    display: v-filler;
    body: fillar;
    width: 100%;
    height: 100%;
    align: center;

    & > fillar {
        display: cube;
        width: 5;
        depth: 5;
        height: 100%;
    }

    &.wood > fillar { wall: wall.wood; }
}



wall.with-windows {
    middle: floor.windows;
    top: floor.top;
    padding: 4;
}

wall.with-doors {
    bottom: floor.door-and-windows;
}

wall.top { texture: tex.bar; }
wall.wood { texture: tex.wood; }
wall.tile.red { texture: tex.red-tile; }
wall.road { texture: tex.road; }
wall.grey-brick { texture: tex.grey-brick; }
wall.clay { texture: tex.clay; }
wall.clay-wood { texture: tex.clay-wood; }
wall.brick { texture: tex.brick; }
wall.grass { points-texture: tex.grass; points-density: 100%; }

floor.door-and-windows {
    middle: choice(null, null, tex.door, tex.window);
    height: 24;
    padding: 12;
    align: random(center, justify);
}

floor.windows {
    middle: choice(null, tex.window);
    height: 12;
    padding: 12;
    align: random(center, justify);
}

floor.top {
    texture: tex.wood;
    height: 8;
}

tex.bar { texture: "textures/bar.png"; }
tex.brick { texture: "textures/wall/brick.png"; }
tex.clay { texture: "textures/nature-wall/clay.png"; }
tex.clay-wood { texture: choice(
    "textures/nature-wall/clay-wood.png",
    "textures/nature-wall/clay-wood-x.png",
    "textures/nature-wall/clay-wood-v.png");
}
tex.door { texture: "textures/wall-objs/door.png"; }
tex.window { texture: "textures/wall-objs/wooden-window.png"; }
tex.bottom { texture: "textures/bottom.png"; }
tex.road { texture: "textures/nature-wall/clay-sand.png"; }
tex.grey-brick { texture: "textures/wall/grey-brick.png"; }
tex.wood { texture:  "textures/nature-wall/wood.png"; }
tex.red-tile { texture:  "textures/wall/red-tile.png"; }
tex.grass { texture: "textures/sprites/grass.png"; }
