world {
    width: 1800;
    height: 800;
    body: village-and-road;
}

village-and-road {
    display: z-series;
    body: road, village;
    width: random(800, 1200);
    depth: random(800, 1200);
    justify: center;
}

village {
    display: bsp-tree;
    body: choice(district, district, market, forest);
    justify: center;
    padding: 50;
    width: 100%;
    depth: 100%;
    iterations-count: 4;
    min-width: 50;
    min-height: 50;
    max-width: 400;
    max-height: 400;

    district {
        display: z-series;
        body: sidewalk, city;
        width: 100%;
        depth: 100%;
    }
}

road {
    display: cube;
    roof: wall.road.grass;
    width: 100%;
    depth: 100%;
    height: 0;
}

sidewalk {
    display: cube;
    roof: wall.grey-brick;
    wall: wall.grey-brick;
    width: 100%;
    depth: 100%;
    height: 8;
}

city {
    display: bsp-tree;
    iterations-count: 4;
    justify: center;
    body: choice(
      house.brick,
      house.clay,
      house.wood,
      house.wood.roman,
      house.clay.roman);
    min-width: 50;
    min-height: 50;
    max-width: 150;
    max-height: 150;
    width: 100%;
    depth: 100%;
    padding: 5;
}

house {
    display: z-series;
    body:
        choice(zero-floor, first-floor),
        choice(null, first-floor),
        choice(null, first-floor),
        roof-and-chimney;
    width: 100%;
    depth: 100%;

    roof-and-chimney, first-floor, zero-floor {
        width: 100%;
        depth: 100%;
        height: random(30, 50);
    }

    roof-and-chimney {
        display: union;
        body:
            choice(chimney, null),
            choice(roof.triangle, roof.pyramid);
        justify: random;

        roof {
            width: 100%;
            depth: 100%;
            height: 80%;
        }

        chimney {
            display: cube;
            wall: wall.brick;
            roof: wall.brick;
            width: 10;
            depth: 10;
            height: 100%;
        }
    }

    roof.triangle { display: triangle; }
    roof.pyramid { display: pyramid; }

    first-floor {
        display: cube;
        wall: wall.clay-wood.with-windows;
    }

    zero-floor {
        display: square-fence;
        body: body;
        body-justify: center;
        corner: corner;
        edge-size: 10;

        & > body {
            display: cube;
            wall: wall.clay.with-windows.with-doors;
            width: 95%;
            depth: 95%;
            height: 100%;
        }

        & > corner {
            display: cube;
            wall: wall.wood;
            width: 100%;
            depth: 100%;
            height: 100%;
        }
    }
}

house.brick {
    roof.triangle {
        wall: wall.clay-wood;
        roof: wall.tile.red;
    }

    roof.pyramid {
        wall: wall.tile.red;
        roof: wall.tile.red;
    }

    zero-floor > body {
        wall: wall.brick.with-windows.with-doors;
    }

    first-floor {
     	wall: wall.brick.with-windows;
    }
}

house.clay {
    roof.triangle {
        wall: wall.clay-wood;
        roof: wall.tile.red;
    }

    roof.pyramid {
        wall: wall.tile.red;
        roof: wall.tile.red;
    }

}

house.wood {
    roof {
        wall: wall.wood;
        roof: wall.wood;
    }

    first-floor {
        wall: wall.wood.with-windows;
    }
}

forest {
    display: bsp-tree;
    iterations-count: 5;
    body: tree;
    width: 100%;
    depth: 100%;
    justify: random;
}

tree {
    display: z-series;
    width: 100;
    depth: 100;
    justify: center;
    body: trunk, corona;

    trunk {
        display: cylinder;
        wall: wall.wood;
        width: 10;
        depth: 10;
    }

    & > trunk { height: random(50, 80); }

    & > corona {
        display: union;
        body: trunk, leafs;
        justify: center;
        width: 100%;
        depth: 100%;
        height: random(70, 80);

        & > trunk {
            height: 90%;
        }

        & > leafs {
            display: dome;
            roof: wall.leafs;
            width: 100%;
            depth: 100%;
            height: 100%;
        }
    }
}

market {
    display: square-fence;
    edge-size: 40;
    width: 100%;
    depth: 100%;
    body: stall-bsp;
    edge: stall-row;

    stall-row {
        display: x-filler;
        width: 100%;
        depth: 100%;
        body: stall;
        align: center;
        padding: 20;
    }

    stall-bsp {
        display: bsp-tree;
        body: stall;
        iterations-count: 3;
        width: 100%;
        depth: 100%;
        min-width: 50;
        min-height: 50;
        justify: random;
    }

    stall {
        display: z-series;
        body: sidewalk, ceil, body, roof;
        width: random(50, 80);
        depth: 40;

        sidewalk {
            height: 5;
        }

        ceil {
            display: cube;
            width: 100%;
            depth: 100%;
            height: 10;
            wall: wall.wood;
        }

        body {
            display: square-fence;
            corner: corner;
            edge-size: 5;
            width: 100%;
            depth: 100%;
            height: 10;
        }

        roof {
            display: triangle;
            wall: wall.wood;
            roof: wall.stall;
            width: 100%;
            depth: 100%;
            height: 20;
        }

        corner {
            display: cube;
            wall: wall.wood;
            width: 100%;
            depth: 100%;
            height: 100%;
        }
    }

}


wall.with-windows {
    middle: floor.windows;
    top: floor.top;
    padding: 4;
}

wall.with-doors {
    bottom: floor.door-and-windows;
}

wall.top { texture: tex.bar; }
wall.wood { texture: tex.wood; }
wall.tile.red { texture: tex.red-tile; }
wall.road { texture: tex.road; }
wall.grey-brick { texture: tex.grey-brick; }
wall.clay { texture: tex.clay; }
wall.clay-wood { texture: tex.clay-wood; }
wall.brick { texture: tex.brick; }
wall.grass { points-texture: tex.grass; points-density: 50%; }
wall.leafs { points-texture: tex.leaf;  points-density: 50%; }
wall.stall { texture: tex.stall; }


floor.door-and-windows {
    middle: choice(null, null, tex.door, tex.window);
    height: 24;
    padding: 12;
    align: random(center, justify);
}

floor.windows {
    middle: choice(null, tex.window);
    height: 12;
    padding: 12;
    align: random(center, justify);
}

floor.top {
    texture: tex.wood;
    height: 8;
}

tex.bar { texture: "textures/bar.png"; }
tex.brick { texture: "textures/wall/brick.png"; bump-map: "textures/wall/brick_bump.png"; }
tex.clay { texture: "textures/nature-wall/clay.png"; }
tex.clay-wood { texture: choice(
    "textures/nature-wall/clay-wood.png",
    "textures/nature-wall/clay-wood-x.png",
    "textures/nature-wall/clay-wood-v.png");
}
tex.stall { texture: choice(
    "textures/wall/stall-red.png",
    "textures/wall/stall-blue.png",
    "textures/wall/stall-green.png");
}
tex.door { texture: "textures/wall-objs/door.png"; }
tex.window { texture: "textures/wall-objs/wooden-window.png"; }
tex.bottom { texture: "textures/bottom.png"; }
tex.road { texture: "textures/nature-wall/clay-sand.png"; }
tex.grey-brick { texture: "textures/wall/grey-brick.png"; }
tex.wood { texture:  "textures/nature-wall/wood.png"; }
tex.red-tile { texture:  "textures/wall/red-tile.png"; }
tex.grass { texture: "textures/sprites/grass.png"; }
tex.leaf  { texture: "textures/sprites/leaf.png"; }
