<html>
    <head>
        <title>Pixelopolis</title>
        <link rel=stylesheet href="https://codemirror.net/lib/codemirror.css" />
        <script src="https://codemirror.net/lib/codemirror.js"></script>
        <script src="https://codemirror.net/mode/css/css.js"></script>
        <style>
            body { background-color: grey; }
            form { float: left; width: 50%; }
            .CodeMirror { font-size: 12pt; height: 800px; }
            .box { float: left; width: 50%; height: 800px; overflow: auto; }
        </style>
    </head>
    <body>
        <h1>Pixelopolis</h1>
        <pre>
        {% for err in errors %} 
            <strong>{{ err }}</strong>
        {% endfor %}
        </pre>
        <form method="POST" action="/">
            <textarea id="data" name="data">{{ data }}</textarea>
            <input type="submit" name="doit.png" />
        </form>
        <div class="box">
        {% if img %}
            <img src="data:image/png;base64,{{ img }}" alt="result" />
        {% endif %}
        </div>
        <script>
            var textarea = document.querySelector('#data');
            var editor = CodeMirror.fromTextArea(textarea, {
                lineNumbers: true,
                mode: "css",
            });
        </script>
    </body>
</html>
