world {
    width: 800;
    height: 800;
    body: cube.example;
}

cube.example {
	wall: wall.grey-brick;
    roof: wall.top;
    width: 350;
    depth: 350;
    height: 150;
}

wall.grey-brick { texture: h-tex.grey-brick; }
wall.top { texture: tex.wood; }

h-tex.grey-brick {
    background: tex.grey-brick;
    center: v-tex.windows;
}

v-tex.windows {
    center: tex.window;
    justify: end;
    padding: 20;
    height: 40;
}

tex.wood        { texture: "textures/nature-wall/wood.png"; }
tex.grey-brick  { texture: "textures/wall/grey-brick.png"; }
tex.window      { texture: "textures/wall-objs/window.png"; }
