world {
    width: 800;
    height: 800;
    body: cube.example;
}

cube.example {
	wall: wall.grey-brick;
    roof: wall.top;
    width: 350;
    depth: 350;
    height: 150;
}

wall.grey-brick { texture: h-tex.grey-brick; }
wall.top { texture: tex.wood; }

h-tex.grey-brick {
    background: tex.grey-brick;
    center: v-tex.windows;
    padding: 4;
}

v-tex.windows {
    begin: tex.wood;
    center: tex.window;
    end: tex.wood;
    padding: 20;
}

tex.wood        { texture: "textures/nature-wall/wood.png"; }
tex.grey-brick  { texture: "textures/wall/grey-brick.png"; }
tex.window      { texture: "textures/wall-objs/window.png"; }
