world {
    width: 800;
    height: 800;
    body: domes;
}

domes {
    display: x-series;
    body: dome.example.first, dome.example.second;
    padding: 100;
}

dome.first {
    vertical-sides: 32;
}

dome.second {
    horizontal-sides: 6;
    vertical-sides: 4;
}

dome.example {
    roof: wall.grey-brick;
    width: 300;
    depth: 200;
    height: 350;
}

wall.grey-brick { texture: h-tex.grey-brick; }

h-tex.grey-brick {
    background: tex.grey-brick;
    center: v-tex.windows;
    width: 100%;
}

v-tex.windows {
    center: tex.window;
    justify: end;
    padding: 20;
    height: 40;
}

tex.grey-brick  { texture: "textures/wall/grey-brick.png"; }
tex.window      { texture: "textures/wall-objs/window.png"; }
