world {
    width: 800;
    height: 800;
    body: pyramid.example;
}

pyramid.example {
	wall: wall.wood;
    width: 350;
    depth: 350;
    height: 150;
}

wall.wood { texture: tex.wood; }
tex.wood { texture: "textures/nature-wall/wood.png"; }
