world {
    width: 1800;
    height: 800;
    body: h-series.city-and-road;
}

h-series.city-and-road {
    body: cube.road | d-filler.city;
    width: random(400, 600);
    depth: random(700, 900);
}

d-filler.city {
  body: h-series.district;
  width: 100%;
  depth: 100%;
  padding: 100;
}

h-series.district {
    body: cube.sidewalk | v-filler.city;
    width: 100%;
    depth: random(100, 300);
}

cube.road {
    roof: wall.road;
    width: 100%;
    depth: 100%;
    height: 0;
}

v-filler.city {
    body: d-filler.row;
    width: 100%;
    depth: 100%;
    padding: 50;
}

d-filler.row {
    body: choice(h-series.brick_house, h-series.brick_house, h-series.roman_house);
    depth: 100%;
    padding: 100;
}

cube.sidewalk {
    roof: wall.grey-brick;
    wall: wall.grey-brick;
    width: 100%;
    depth: 100%;
    height: 5;
}

h-series.brick_house {
    body: cube.brick_house | choice(triangle.brick_house, pyramid.brick_house);
    width: random(50, 120);
    height: random(50, 120);
}

triangle.brick_house {
    wall: wall.brick;
    roof: wall.wood-roof;
    width: 100%;
    depth: 100%;
    height: random(30, 80);  
}

pyramid.brick_house {
    wall: wall.wood-roof;
    width: 100%;
    depth: 100%;
    height: random(30, 80);  
}

cube.brick_house {
    wall: wall.brick_with_windows;
    width: 100%;
    depth: 100%;
    height: random(40, 80);
}

h-series.roman_house {
    body: d-series.roman_house | triangle.roman_house;
    width: random(50, 120);
    height: random(50, 120);
}

d-series.roman_house {
    body: v-filler.roman_fillars | cube.roman_house;
    width: 100%;
    depth: 100%;
    height: random(40, 80);
    padding: 20;
}

v-filler.roman_fillars {
    body: cube.roman_fillar;
    width: 100%;
    height: 100%;
    padding: 10;
}

cube.roman_fillar {
    wall: wall.brick;
    width: 10;
    depth: 10%;
    height: 100%;
}

cube.roman_house {
    wall: wall.wood_with_windows;
    roof: wall.wood-roof;
    width: 100%;
    depth: 90%;
    height: 100%;
}

triangle.roman_house {
    wall: wall.wood-roof;
    roof: wall.wood-roof;
    width: 100%;
    depth: 100%;
    height: random(20, 30);  
}

void.null {
    width: random(80, 120);
    depth: 50;
    height: 40;
}

wall.grey-brick {
    texture: tex.grey-brick;
}

wall.clay {
    texture: tex.clay;
}

wall.wood_with_windows {
    texture: tex.wood;
    bottom: floor.door_and_windows;
    middle: floor.windows;
    padding: 4;
}

wall.brick {
    texture: tex.brick;
}

wall.brick_with_windows {
    texture: tex.brick;
    bottom: floor.door_and_windows;
    middle: floor.windows;
    top: floor.top;
    padding: 4;
}

wall.top {
    texture: tex.bar;
}

wall.wood-roof {
    texture: tex.wood;
}

wall.road {
    texture: tex.road;
}

floor.door_and_windows {
    middle: choice(null, null, tex.door, tex.window);
    height: 24;
    padding: 12;
}

floor.windows {
    middle: choice(null, null, null, tex.window);
    height: 12;
    padding: 12;
}

floor.top {
    texture: tex.wood;
    height: 8;
}

tex.bar {
    texture: "textures/bar.png";
}

tex.brick {
    texture: "textures/brick.png";
}

tex.clay {
    texture: "textures/clay.png";
}

tex.door {
    texture: "textures/door.png";
}

tex.window {
    texture: "textures/window.png";
}

tex.bottom {
    texture: "textures/bottom.png";
}

tex.road {
    texture: "textures/road.png";
}

tex.grey-brick {
    texture:  "textures/grey-brick.png";
}

tex.wood {
    texture:  "textures/wood.png";
}
