world {
    width: 800;
    height: 800;
    body: h-series.city-and-road;
}

h-series.city-and-road {
    body: cube.road | d-series.city;
}

d-series.city {
    body: cube.sidewalk | v-series.city;
}

v-series.city {
    body: h-series.wall | cube.small | h-series.wall | cube.small | h-series.wall;
    padding: 16;
}

h-series.wall {
    body: cube.big | cube.small | cube.small | cube.big;
    padding: 24;
}

cube.road {
    roof: wall.road;
    width: 320;
    depth: 100;
    height: 0;
}

cube.sidewalk {
    roof: wall.grey-brick;
    wall: wall.top;
    width: 320;
    depth: 300;
    height: 5;
}

cube.big {
    wall: wall.wall;
    roof: wall.roof;
    width: 50;
    depth: 50;
    height: 100;
}

cube.small {
    wall: wall.wall;
    roof: wall.roof;
    width: 50;
    depth: 50;
    height: 40;
}

wall.grey-brick {
    texture: tex.grey-brick;
}

wall.wall {
    texture: tex.brick;
    bottom: floor.bottom;
    middle: floor.middle;
    top: floor.top;
}

wall.top {
  	texture: tex.bar;
}

wall.roof {
    texture: tex.clay;
}

wall.road {
    texture: tex.road;
}

floor.bottom {
    texture: tex.bottom;
    height: 24;
}

floor.middle {
    height: 12;
}

floor.top {
    texture: tex.bar;
    height: 5;
}

tex.bar {
    texture: "textures/bar.png";
}

tex.brick {
    texture: "textures/brick.png";
}

tex.clay {
    texture: "textures/clay.png";
}

tex.bottom {
    texture: "textures/bottom.png";
}

tex.road {
    texture: "textures/road.png";
}

tex.grey-brick {
 	texture:  "textures/grey-brick.png";
}
